<%- include('./header.ejs') %>


<% let balance = 0;
        for (let i = 0; i < Budget.length ; i++){
            parseInt(Budget[i].amount)
            balance += Budget[i].amount;
            console.log(Budget[i].amount)
        } %> 

        <div class="container">
    <h1>Budgeter</h1>

        <% if(balance <= 0){ %>
         <h3 class="negBalance">Account balance: <%= balance%></h3>
            <%}%>
        <% if(balance >= 1000){ %>
            <h3 class="lrgBalance">Account balance: <%= balance%></h3>
            <%}%>
        <% if(balance > 0 && balance < 1000){ %>
                <h3>Account balance: <%= balance%></h3>
                <%}%>
        
    
</div>
<button onclick="window.location.href='/budget/new';">Make Deposit Entry</button>
<table>
    <% for (let i = 0; i < Budget.length ; i++){ %>
        <tr>
            <td><a href = "/budget/<%= i%>"><%= Budget[i].name %></a></td>
            <td><%= Budget[i].date %></td>
            <td><%= Budget[i].from %></td>
            <td><%= Budget[i].amount %></td>
            <td><%= Budget[i].tags %></td>  
            <br>
        </tr>
   <% } %>

</table>
</body>
</html>